<div class="container mt-4">
  <form #addTaskForm="ngForm" (ngSubmit)="updateTask()">
  
    <h2 class="text-center text-primary">Update Task</h2>
  
    <hr>
    <div class="form-group">
      <input type="text" class="form-control" required name="name" [(ngModel)]="model.name" placeholder="Name">
    </div>
  
    <div class="form-group">
      <input type="text" class="form-control" required name="description" [(ngModel)]="model.description" placeholder="Description">
    </div>
  
    <div class="form-group">
      <input type="text" class="form-control" required name="dueDate" [(ngModel)]="model.dueDate" placeholder="Due Date">
    </div>
  
    <div class="form-group text-center">
       <button class="btn btn-success" type="submit">Add</button>
    </div>
  
  </form>
  </div>